$border: 4px groove gray;

body { 
  padding-top: 100px;
}

.navbar-fixed-top {
  background-color: gainsboro;
  height: 100px;
  border-bottom: $border;
}
//flex boxes
// .row-eq-height {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display:         flex;
// }
//left flex box
.col-md-4 {
  background-color: lightskyblue;
  border: $border;
  padding: 20px;
}

.dropdown-toggle {
  width: 250px;
  height: 50px;
}

.progress {
  width: 300px;
}
//right flex box
.col-md-8 {
  background-color: slategray;
  border: $border;
  padding: 10px;
}

//alternating background-color of songs
.song-name:nth-child(2n+0) {
  background-color: dodgerblue;
  font-size: 125%;
}

.song-name:nth-child(2n+1) {
  background-color: aliceblue;
  font-size: 125%;
}

#deleteButton {
  // float: right;
  font-weight: bold;
  font-size: .75em;
  outline: none;
  border: none;
  
}




